#!/data/data/com.termux/files/usr/bin/bash

{{- if (eq .os "Android") }}
if command -v c &> /dev/null
then
  echo "starship уже установлен"
  exit
fi
{{- end }}

{{- if (eq .os "Android") }}
pkg install starship -y
{{- else }}
#sh -c "$(curl -fsSL https://starship.rs/install.sh)" -- -y
{{- end }}
